*.iml
.gradle
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/log
/logs
/target
/poms/target
.externalNativeBuild
/.settings
/gradle/wrapper/gradle-wrapper.jar
.classpath
.project
./app/src/test/java/com/obs/services/sample
./app/src/main/res/**/*.png

dependency-reduced-pom.xml
